.imgLogo {
  width: 100%;
  height: auto;
}

.navbarColouring {
  background: linear-gradient(to right, #c2f3f3, #52bfe0, #2536d1) !important;
  width: 100%;
  position: fixed;
}

.revealPassword {
  position: absolute;
  top: 5px;
  right: 10px;
  transform: translate(50%, 50%);
  margin-right: 15px;
}
